* { /* reset di tutti gli elementi */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button-arrow--sand { /* per disabilitare la selezione del testo */
  -webkit-touch-callout: none;  /* su dispositivi con browser WebKit */
    -webkit-user-select: none; /* su dispositivi con browser WebKit, come Android e iOS */
     -khtml-user-select: none; /* su dispositivi con browser KHTML, come Safari */
       -moz-user-select: none; /* su dispositivi con browser Mozilla, come Firefox */
        -ms-user-select: none; /* su dispositivi con browser Microsoft, come IE */
            user-select: none; /* su tutti i dispositivi e browser */
		-webkit-tap-highlight-color: transparent; /* disabilita la vis. del highlight su disp. mobili */
}

/* Bottone per annulla */
.button-arrow--sand {
  min-width: 95px; /* larghezza */
  height: 41px; /* altezza */
  color: #fff; /* colore testo */
  padding: 5px 10px;
  font-weight: bold; /* font in grassetto */
  cursor: pointer; 
  transition: all 0.3s ease; /* animazione di transizione */
  position: relative; 
  display: inline-block; /* elemento in linea */
  outline: none; /* bordo nero */
  overflow: hidden; 
  border-radius: 5px; /* bordi arrotondati */
  border: none; 
  background-color: #ced4da /* colore di sfondo */
}
.button-arrow--sand:hover {
  border-radius: 5px; /* bordi arrotondati */
  padding-right: 24px; /* spazio a destra */
  padding-left:8px; /* spazio a sinistra */
}
.button-arrow--sand:hover:after {
  opacity: 1; /* freccia viene visualizzata */
  right: 10px; /* posizione orizzontale */
}
.button-arrow--sand:after {
  content: "\00BB"; /* freccia a destra (carattere unicode) ">>" */
  position: absolute;
  opacity: 0; /* freccia viene nascosta */
  font-size: 20px; /* dimensione freccia */
  line-height: 40px; /* altezza riga/linea a 40px */
  top: 0; /* posizione verticale */
  right: -20px; /* posizione orizzontale */
  transition: 0.4s; /* animazione di transizione di 0.4 sec*/
}