* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.edit-button {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.edit-button {
	width: 100px;
	height: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
    justify-content: space-between;
    border-left: 1px solid #e6b822;
	background: rgb(255, 174, 0);
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #e6b822;
}

.edit-button, .edit-button span {
	transition: 200ms;
}

.edit-button .text {
	transform: translateX(4px);
	color: white;
	font-weight: bold;
    font-size: 15px;
    vertical-align: middle;

}

.edit-button .icon {
	position: absolute;
	transform: translateX(70px);
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit-button svg {
	width: 10px;
	fill: #eee;
}

.edit-button:hover {
	background: #e6b822;
}

.edit-button:hover .text {
	color: transparent;
}

.edit-button:hover .icon {
	width: 100px;
	border-left: none;
	transform: translateX(0);
}

.edit-button:focus {
	outline: none;
}