* { /* reset di tutti gli elementi */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button-sliding-to-top--sky { /* per disabilitare la selezione del testo */
  -webkit-touch-callout: none;  /* su dispositivi con browser WebKit */
    -webkit-user-select: none; /* su dispositivi con browser WebKit, come Android e iOS */
     -khtml-user-select: none; /* su dispositivi con browser KHTML, come Safari */
       -moz-user-select: none; /* su dispositivi con browser Mozilla, come Firefox */
        -ms-user-select: none; /* su dispositivi con browser Microsoft, come IE */
            user-select: none; /* su tutti i dispositivi e browser */
		-webkit-tap-highlight-color: transparent; /* disabilita la vis. del highlight su disp. mobili */
}

.button-sliding-to-top--sky { /* per bottoni in home_produzione */
  width: 900px; /* larghezza */
  height: 60px; /* altezza */
  color: #fff; 
  padding: 5px 10px;
  font-weight: bold; /* font in grassetto */
  font-size: 21px; /* dimensione del testo */
  text-align: center; /* allineamento orizzontale (al centro) */
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease; /* animazione di 0.3s*/
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0; /* z-index = elementi non vengono sovrapposti ad altri */
  background: #fff;
  overflow: hidden; /* per evitare che il contenuto venga spostato fuori dalla card */
  border: 2px solid #1f8b11; /* colore e spessore del bordo */
  color: #1f8b11;
}
.button-sliding-to-top--sky:hover { /* per effetto hover (quando si passa con il mouse sopra) */
  color: #fff;
}
.button-sliding-to-top--sky:hover:after { /* per effetto hover (quando si passa con il mouse sopra) */
  height: 100%;
}
.button-sliding-to-top--sky:after { /* dopo effetto scorrimento del bottone */
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0; /* posizione a sinistra */
  bottom: 0; /* posizione in basso */
  height: 0; /* altezza = 0, in modo che non sia visibile inizialmente*/
  width: 100%; /* larghezza */
  background: #1f8b11;
}