.button-sliding-to-top--sky {
  width: 900px;
  height: 60px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #1f8b11;
  color: #1f8b11;
}
.button-sliding-to-top--sky:hover {
  color: #fff;
}
.button-sliding-to-top--sky:hover:after {
  height: 100%;
}
.button-sliding-to-top--sky:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #1f8b11;
}