@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root { /* per font dell'app. web */
  --main-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--main-font) !important; 
}

/* Animazione sfondo (in questo caso per un bottone)*/
.anim-bg-gradient {
  background: linear-gradient(120deg, rgb(2, 0, 139), rgb(20, 83, 220), rgb(0, 225, 255));
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
  font-weight: bold;
}

.anim-bg-gradient:hover { /* per effetto hover (quando si passa con il mouse sopra) */
  background-position: 0 0; /* da sinistra a destra */
}

/* Animazione testo  */
.text-fill {
  text-decoration: none;
  -webkit-text-fill-color: rgb(44, 156, 221);
}
.text-fill:hover { /* per effetto hover, ma legato al testo */
  -webkit-text-fill-color: rgb(24, 50, 165);
}
.parent { /* per il testo */
  font-size: 2.7rem;
  font-weight: bold;
}

