* { /* reset di tutti gli elementi */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button-sliding-to-bottom--black { /* per disabilitare la selezione del testo */
  -webkit-touch-callout: none;  /* su dispositivi con browser WebKit */
    -webkit-user-select: none; /* su dispositivi con browser WebKit, come Android e iOS */
     -khtml-user-select: none; /* su dispositivi con browser KHTML, come Safari */
       -moz-user-select: none; /* su dispositivi con browser Mozilla, come Firefox */
        -ms-user-select: none; /* su dispositivi con browser Microsoft, come IE */
            user-select: none; /* su tutti i dispositivi e browser */
		-webkit-tap-highlight-color: transparent; /* disabilita la vis. del highlight su disp. mobili */
}

.button-sliding-to-bottom--black { /* per bottone in home_produzione (scorrimento in basso) */
  min-width: 70px; /* larghezza */
  height: 50px; /* altezza */
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: none;
  color: #4b565f;
}
.button-sliding-to-bottom--black:hover { /* per effetto hover (quando si passa con il mouse sopra) */
  color: #fff;
  border-color: #4b565f;
}
.button-sliding-to-bottom--black:hover:after { /* per effetto hover (quando si passa con il mouse sopra) */
  height: 100%;
}
.button-sliding-to-bottom--black:after { /* dopo effetto scorrimento del bottone */
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #4b565f;
}
