.button-sliding-to-bottom--black { /* per bottone in home_produzione (scorrimento in basso) */
  min-width: 70px; /* larghezza */
  height: 50px; /* altezza */
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: none;
  color: #4b565f;
}
.button-sliding-to-bottom--black:hover { /* per effetto hover (quando si passa con il mouse sopra) */
  color: #fff;
  border-color: #4b565f;
}
.button-sliding-to-bottom--black:hover:after { /* per effetto hover (quando si passa con il mouse sopra) */
  height: 100%;
}
.button-sliding-to-bottom--black:after { /* dopo effetto scorrimento del bottone */
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #4b565f;
}
