.feedback-form {
  max-width: 400px; /* o una larghezza che ti sembra appropriata */
  margin: 0 auto; /* per centrare il form */
  display:block;
  background-color: #fcfcfc;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
  left: 30%;
  top: 15%;
}

.feedback-form * {
    box-sizing: border-box;
}

#feedback-form h4{
  text-align: center;
  margin-bottom: 30px;
  color: #cfc8c8;
}

.feedback-form-container {
  width: 500px; /* o una larghezza che ti sembra appropriata */
  margin: 0 auto;
  text-align: center;
}

.feedback-form input {
  margin-bottom: 15px;
}

.feedback-form input[type=text] {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 55%;
  border: none;
  background-color: #f5eded;
}

.feedback-form label {
  color: #cfc8c8;
  font-size: 0.8em;
}

.feedback-form button[type=submit] {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  
  background: #207cca; /* Old browsers */
  background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
}
