* { /* reset di tutti gli elementi */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button-3d--green { /* per disabilitare la selezione del testo */
  -webkit-touch-callout: none;  /* su dispositivi con browser WebKit */
    -webkit-user-select: none; /* su dispositivi con browser WebKit, come Android e iOS */
     -khtml-user-select: none; /* su dispositivi con browser KHTML, come Safari */
       -moz-user-select: none; /* su dispositivi con browser Mozilla, come Firefox */
        -ms-user-select: none; /* su dispositivi con browser Microsoft, come IE */
            user-select: none; /* su tutti i dispositivi e browser */
		-webkit-tap-highlight-color: transparent; /* disabilita la vis. del highlight su disp. mobili */
}

.button-3d--green { /* per bottone salva */
  min-width: 90px;
  height: 35px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #80ed99;
  box-shadow: 0 5px #57cc99;
}
.button-3d--green:hover { /* per effetto hover (quando si passa con il mouse sopra) */
  box-shadow: 0 3px #57cc99;
  top: 1px;
}
.button-3d--green:active { /* per effetto click (quando si fa click) */
  box-shadow: 0 0 #57cc99; /* per rimuovere l'ombra */
  top: 5px; /* per spostare il bottone di 5px in basso */
}