* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.star-button {
  position: relative;
  padding: 6px 15px;
  background: #f9fffb;
  font-size: 16px;
  font-weight: 500;
  padding-top: 5px;
  line-height: 1.1;
  text-align: center;
  color: #000000;
  border: 2px solid #08522d;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0 0 0 #043d2c8c;
  transition: all .3s ease-in-out;
  width: 90px; /* aggiungi una larghezza */
  height: 40px; /* aggiungi un'altezza */
}

.star-button .star {
  display: inline-block;
  margin-right: 10px;
}

.star {
  position: absolute;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #050657);
  z-index: 1;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-1 {
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translateY(-50%);
  filter: drop-shadow(0 0 0 #073569);
}

.star-2 {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 15px;
  transform: translateY(-50%);
  filter: drop-shadow(0 0 0 #073569);
}

.star-3 {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 5px;
  transform: translateY(-50%);
  filter: drop-shadow(0 0 0 #073569);
}

.star-4 {
  top: 20%;
  left: 40%;
  width: 8px;
}

.star-5 {
  top: 25%;
  left: 45%;
  width: 15px;
}

.star-6 {
  top: 5%;
  left: 50%;
  width: 5px;
}

.star-button:hover {
  background: #0e3a3a;
  color: #FFFFFF;
  box-shadow: 0 0 25px #0e3a3a;
  border: 3px solid #FFF;
}

.star-button:hover .star-1 {
  top: -80%;
  left: -30%;
  filter: drop-shadow(0 0 10px #0c3999);
  z-index: 2;
}

.star-button:hover .star-2 {
  top: -25%;
  left: 10%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-button:hover .star-3 {
  top: 55%;
  left: 25%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-button:hover .star-4 {
  top: 30%;
  left: 80%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-button:hover .star-5 {
  top: 25%;
  left: 115%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-button:hover .star-6 {
  top: 5%;
  left: 60%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #FFFDEF;
}
